<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Assembly"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CSS"/>
        <filter
          name="CUDA"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="application">
        <dir
          name="sources">
          <dir
            name="ak">
            <dir
              name="inc"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="app">
            <dir
              name="mw24">
              <dir
                name="eeprom"/>
              <dir
                name="io_config"/>
              <dir
                name="nrf24l01">
                <dir
                  name="hal"/>
              </dir>
              <dir
                name="nwk"/>
              <dir
                name="timer"/>
            </dir>
            <dir
              name="screens"/>
          </dir>
          <dir
            name="common">
            <dir
              name="container"/>
          </dir>
          <dir
            name="driver">
            <dir
              name="Adafruit_ssd1306syp"/>
            <dir
              name="AsyncDelay">
              <dir
                name="src"/>
            </dir>
            <dir
              name="button"/>
            <dir
              name="buzzer"/>
            <dir
              name="eeprom"/>
            <dir
              name="flash"/>
            <dir
              name="gpio"/>
            <dir
              name="led"/>
          </dir>
          <dir
            name="libraries">
            <dir
              name="ArduinoJson">
              <dir
                name="extras">
                <dir
                  name="fuzzing"/>
                <dir
                  name="scripts">
                  <dir
                    name="wandbox"/>
                </dir>
                <dir
                  name="tests">
                  <dir
                    name="ElementProxy"/>
                  <dir
                    name="IntegrationTests"/>
                  <dir
                    name="JsonArray"/>
                  <dir
                    name="JsonDeserializer"/>
                  <dir
                    name="JsonDocument"/>
                  <dir
                    name="JsonObject"/>
                  <dir
                    name="JsonSerializer"/>
                  <dir
                    name="JsonVariant"/>
                  <dir
                    name="MemberProxy"/>
                  <dir
                    name="MemoryPool"/>
                  <dir
                    name="Misc"/>
                  <dir
                    name="MixedConfiguration"/>
                  <dir
                    name="MsgPackDeserializer"/>
                  <dir
                    name="MsgPackSerializer"/>
                  <dir
                    name="Numbers"/>
                  <dir
                    name="TextFormatter"/>
                  <dir
                    name="catch"/>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="ArduinoJson">
                  <dir
                    name="Array"/>
                  <dir
                    name="Collection"/>
                  <dir
                    name="Deserialization"/>
                  <dir
                    name="Document"/>
                  <dir
                    name="Json"/>
                  <dir
                    name="Memory"/>
                  <dir
                    name="Misc"/>
                  <dir
                    name="MsgPack"/>
                  <dir
                    name="Numbers"/>
                  <dir
                    name="Object"/>
                  <dir
                    name="Operators"/>
                  <dir
                    name="Polyfills">
                    <dir
                      name="gsl"/>
                    <dir
                      name="mpl"/>
                    <dir
                      name="type_traits"/>
                  </dir>
                  <dir
                    name="Serialization"/>
                  <dir
                    name="StringStorage"/>
                  <dir
                    name="Strings"/>
                  <dir
                    name="Variant"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="QRCode">
              <dir
                name="src"/>
            </dir>
            <dir
              name="nlohmann"/>
          </dir>
          <dir
            name="networks">
            <dir
              name="net">
              <dir
                name="link">
                <dir
                  name="hal"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="platform">
            <dir
              name="stm32l">
              <dir
                name="Libraries">
                <dir
                  name="CMSIS">
                  <dir
                    name="Device">
                    <dir
                      name="ST">
                      <dir
                        name="STM32L1xx">
                        <dir
                          name="Include"/>
                        <dir
                          name="Source">
                          <dir
                            name="Templates">
                            <dir
                              name="TASKING"/>
                            <dir
                              name="TrueSTUDIO"/>
                            <dir
                              name="arm"/>
                            <dir
                              name="gcc_ride7"/>
                            <dir
                              name="iar"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Documentation">
                    <dir
                      name="Core">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="General">
                      <dir
                        name="html"/>
                    </dir>
                    <dir
                      name="RTOS">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="SVD">
                      <dir
                        name="html"/>
                    </dir>
                  </dir>
                  <dir
                    name="Include"/>
                  <dir
                    name="RTOS"/>
                </dir>
                <dir
                  name="STM32L1xx_StdPeriph_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="STM32_USB-FS-Device_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
              </dir>
              <dir
                name="arduino">
                <dir
                  name="cores">
                  <dir
                    name="stm32"/>
                </dir>
                <dir
                  name="libraries">
                  <dir
                    name="SPI"/>
                  <dir
                    name="Wire">
                    <dir
                      name="utility"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sys"/>
        </dir>
      </dir>
      <dir
        name="boot">
        <dir
          name="sources">
          <dir
            name="app"/>
          <dir
            name="common"/>
          <dir
            name="driver">
            <dir
              name="button"/>
            <dir
              name="eeprom"/>
            <dir
              name="flash"/>
            <dir
              name="led"/>
          </dir>
          <dir
            name="platform">
            <dir
              name="stm32l">
              <dir
                name="Libraries">
                <dir
                  name="CMSIS">
                  <dir
                    name="Device">
                    <dir
                      name="ST">
                      <dir
                        name="STM32L1xx">
                        <dir
                          name="Include"/>
                        <dir
                          name="Source">
                          <dir
                            name="Templates">
                            <dir
                              name="TASKING"/>
                            <dir
                              name="TrueSTUDIO"/>
                            <dir
                              name="arm"/>
                            <dir
                              name="gcc_ride7"/>
                            <dir
                              name="iar"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Documentation">
                    <dir
                      name="Core">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="General">
                      <dir
                        name="html"/>
                    </dir>
                    <dir
                      name="RTOS">
                      <dir
                        name="html">
                        <dir
                          name="search"/>
                      </dir>
                    </dir>
                    <dir
                      name="SVD">
                      <dir
                        name="html"/>
                    </dir>
                  </dir>
                  <dir
                    name="Include"/>
                  <dir
                    name="RTOS"/>
                </dir>
                <dir
                  name="STM32L1xx_StdPeriph_Driver">
                  <dir
                    name="inc"/>
                  <dir
                    name="src"/>
                </dir>
              </dir>
              <dir
                name="arduino">
                <dir
                  name="SPI"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="sys"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Linux"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
